#root {
  background-color: #444;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  word-wrap: break-word;
  font-size: 20px;
  font-family: 'Quicksand';
  padding-top: 5%;
}

.logo {
  width: 250px;
  height: 250px;
}

a {
  color: rgb(197, 51, 51) !important;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .WalletInfo {
  width: 500px;
} */

.Block {
  border: 1px solid #fff;
  padding: 5%;
  margin: 2%;
}
